    body {
        background-color: #171717;
        color: #fff;
        padding: 0;
        margin: 0;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    form p {
        width: auto;
        text-align: center;
        font-size: x-large;
    }

    form div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: large;
        margin: 5px;
        width: 15vw;
        min-width: 210px;
    }

    .container.countdown {
        flex-direction: row;
        align-items: center;
        height: 100vh;
        justify-content: center;
        display: flex;
    }

    .clock_bg {
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100px;
        height: 100px;
        margin: 10px;
        background-color: #333;
        color: white;
        align-items: center;
    }

    .clock_counter {
        font-size: 30px;
        margin-bottom: 5px;
    }

    .clock_label {
        font-size: 18px;
    }